#root {
  max-width: 100vw;
  width: 100vw;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('images/buddhas.svg');
  max-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #77b255;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img,
svg {
  display: block;
}

@font-face {
  font-family: 'Rye';
  src: url('../fonts/Rye-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dokdo';
  src: url('../fonts/EastSeaDokdo-Regular.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
  }
}

.trunk {
  background-color: rgba(50, 50, 50, .85);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  font-family: 'Rye';
  text-align: left;
  padding: .5rem;
}

.logo {
  height: 128px;
  margin: 0rem;
  padding: 0rem;
  width: 128px;
}

.logo-text {
  margin-bottom: 0rem;
  margin-top: -2rem;
  font-weight: 400;
  color: #8192ad;
  text-shadow: -3px -3px 0 #373745,  
  3px -3px 0 #373745,
 -3px  3px 0 #373745,
  3px  3px 0 #373745; 
  font-size: 2.75rem;
  line-height: 3.0rem;
  z-index: 1000;
}

.leaf {
  margin-top: 1rem;
}

.accent1 {
  color: #844cdc;
}

.accent2 {
  color: #7069ce;
}

.accent3 {
  color: #8192ad;
}

.symbol {
  font-size: 1.5rem;
  padding-right: .25rem;
}

main {
  background-color: rgba(74,100,116, .5);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -2rem 1.5rem 0rem 1.5rem;
  padding: 2.5rem 0.5rem;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  clip-path: polygon(3% 0, 7% 1%, 10% 0%, 15% 2%, 19% 0, 22% 2%, 27% 2%, 31% 1%, 34% 1%, 38% 3%, 40% 1%, 44% 0%, 46% 2%, 49% 2%, 52% 0, 57% 2%, 59% 2%, 62% 1%, 64% 0%, 66% 2%, 68% 2%, 72% 1%, 75% 1%, 78% 0, 81% 1%, 84% 0, 86% 1%, 88% 0, 91% 1%, 95% 0, 97% 3%, 98% 3%, 98% 6%, 99% 10%, 97% 14%, 99% 20%, 98% 27%, 99% 31%, 98% 34%, 98% 39%, 99% 42%, 98% 47%, 99% 52%, 99% 56%, 98% 59%, 99% 63%, 99% 67%, 98% 71%, 99% 74%, 99% 78%, 98% 82%, 99% 85%, 99% 89%, 98% 93%, 98% 97%, 94% 98%, 91% 98%, 88% 99%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%); 
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  min-height: 70vh;
  max-width: 45%;
}

.column h2 {
  font-family: 'Rye';
  font-size: 2rem;
  line-height: 1;
  margin: 1rem 1rem 0rem 1rem;
  text-align: left;
  text-shadow: -2px -2px 0 #373745,  
  2px -2px 0 #373745,
 -2px  2px 0 #373745,
  2px  2px 0 #373745;
}

.lambda {
  background-color: #cf7b76;
}

.lambda-title {
  color: #984242;
  border-bottom: 2px dotted #984242;
}

.args {
  background-color: #984242;
}

.args-title {
  color: #cf7b76;
  border-bottom: 2px dotted #cf7b76;
}

.craft {
  padding: 1rem;
  text-align: left;
}

.craft button {
  display: block;
  background-color: #8192ad;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: 'Rye';
  font-size: 1.25rem;
  outline: none; 
  text-shadow: 2px 2px 0 #373745;
  margin: auto;
}

.craft button:hover {
  background-color: #7069ce;
  transition: background-color 0.3s ease;
}

.craft button:active {
  transform: translateY(2px);
}

footer {
  border-top: 3px solid #6a7c94;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  font-family: 'Dokdo';
  font-size: 1.25rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding: 1rem;
  text-align: center;
  color: #6a7c94;
  background-color: rgba(55,55,69, .97);
  text-shadow: -1px -1px 0 rgb(51,28,83),  
  1px -1px 0 rgb(51,28,83),
 -1px  1px 0 rgb(51,28,83),
  1px  1px 0 rgb(51,28,83); 
}